/* Variables  */
:root{
    --main-color: #fd4646;
    --sec-color: #4946fd;
    --text-color: #171427;
    --bg-color: #fff;
}


::selection{
    color: var(--text-color);
    background-color: var(--main-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section{
    padding: 4rem 0 3rem;
}
body{
    color: var(--text-color);
}
img{
    /* width: 100%; */
}

/* =======================================  */
/* HEADER  */
header .logo img {
    margin-top: 0.3rem;
    width: 90px;
    display: block;
    margin-right: auto;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0e0e0ecc;
    box-shadow: 0 1px 5px 1px hsl(0deg 0% 0% / 44%);
    z-index: 100;
}
header .containerr {
    padding: 0 2.5rem;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--sec-color);
    text-transform: uppercase;
}
.logo span{
    color: var(--main-color);
    font-weight: 700;
}
#cart-icon{
    font-size: 1.3rem;
    cursor: pointer;
    /* margin-left: 1rem; */
    color: palegoldenrod;
}

/* Items Filter Products */
.filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 0 6rem 0;
}
.filter-buttons button {
    color: white;
    border: none;
    background-color: #657585;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 7px 17px;
    margin-left: 1rem;
    cursor: pointer;
    transition: all 264ms ease;
}
.filter-buttons button.active-btn {
    background-color: tan;
    color: #333;
}

/* Classes For JavaScript */
.product-box .box-expend {
    width: 25em;
    margin: 1em;
}
.product-box .box-shrink {
    width: 0em;
    margin: -1em;
}
.product-box.hide {
    opacity: 0;
    display: none;
}

/* CART  */
.cart{
    position: fixed;
    top: 0;
    right: -100%; 
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 5px 1px #cbcbcb;
    border: 1px solid #d1caca;
    transition: 1.5s;
}
.cart.active{
    right: 0;
    transition: .5s;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: .5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: .5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: var(--sec-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background-color: var(--text-color);
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}


